In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 71kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 18.8MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=a2b426ec81e9f308ccf03489433db9e53455baa8ece879972d1abaffb27d5775
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [2]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setAppName("Student Data Analysis")
sc = SparkContext.getOrCreate(conf = conf)

In [4]:
students = sc.textFile('/content/Quiz.csv')
students.collect()

['22,MALE,Sam,UI/UX,903260,38,Ann@gmail.com',
 '29,MALE,Ann,UI/UX,458198,41,Jennifer@gmail.com',
 '28,MALE,Jennifer,J2EE,448704,37,Jennifer@gmail.com',
 '28,MALE,Jennifer,Cloud,808250,85,Matt@gmail.com',
 '22,FEMALE,Matt,UI/UX,586714,63,Jennifer@gmail.com',
 '20,MALE,Jennifer,DSA,625005,54,Sam@gmail.com',
 '27,MALE,Sam,J2EE,162397,73,Matt@gmail.com',
 '26,FEMALE,Matt,Cloud,275020,52,Ann@gmail.com',
 '28,FEMALE,Ann,UI/UX,562617,95,Jennifer@gmail.com',
 '21,MALE,Jennifer,DSA,954555,63,Ann@gmail.com',
 '29,MALE,Ann,J2EE,166986,97,Sam@gmail.com',
 '30,MALE,Sam,J2EE,727913,35,Ann@gmail.com',
 '27,MALE,Ann,Big Data,463662,65,Jennifer@gmail.com',
 '22,FEMALE,Jennifer,J2EE,695361,52,Ann@gmail.com',
 '29,FEMALE,Ann,UI/UX,165443,54,Jennifer@gmail.com',
 '24,FEMALE,Jennifer,Cloud,247344,92,Matt@gmail.com',
 '20,MALE,Matt,Big Data,960349,85,Sam@gmail.com',
 '28,MALE,Sam,J2EE,198723,31,Ann@gmail.com',
 '28,FEMALE,Ann,J2EE,760381,43,Sam@gmail.com',
 '25,FEMALE,Sam,Big Data,272767,84,Ann@gmail.com']

Show the number of students in the dataset.

In [5]:
students.count()

20

Show the total marks achieved by Male and Female Students

In [14]:
students_data = students.map(lambda x: x.split(','))
students_data2 = students_data.map(lambda x: (x[1],int(x[5])))
students_data2.reduceByKey(lambda x,y : x+y).collect()

[('MALE', 704), ('FEMALE', 535)]

Show the total number of students that have passed (passing score = 50+)

In [39]:
students_data3 = students_data.filter(lambda x: int(x[5])>50)
students_data3.count()

14

Show the total Number of Students enrolled per course

In [41]:
courses = students_data.map(lambda x: (x[3], 1))
courses.reduceByKey(lambda x,y : x+y).collect()

[('Cloud', 3), ('Big Data', 3), ('UI/UX', 5), ('J2EE', 7), ('DSA', 2)]

Show the total marks that students has achieved per course

In [42]:
courses1 = students_data.map(lambda x: (x[3], int(x[5])))
courses1.reduceByKey(lambda x,y : x+y).collect()

[('Cloud', 229),
 ('Big Data', 234),
 ('UI/UX', 291),
 ('J2EE', 368),
 ('DSA', 117)]

Show the average marks that students has achieved per course

In [47]:
courses1 = students_data.map(lambda x: (x[3], (int(x[5]),1))).reduceByKey(lambda x,y : (x[0]+y[0], x[1]+y[1])).map(lambda x : (x[0] , x[1][0]/x[1][1]))
courses1.collect()

[('Cloud', 76.33333333333333),
 ('Big Data', 78.0),
 ('UI/UX', 58.2),
 ('J2EE', 52.57142857142857),
 ('DSA', 58.5)]

Show the Minimum and Maximum marks that students has achieved per course

In [60]:
courses1 = students_data.map(lambda x: (x[3], int(x[5])))
courses2 = courses1.groupByKey().mapValues(list).map(lambda x : (x[0] , min(x[1])))
print("Minimum : " , courses2.collect())
courses3 = courses1.groupByKey().mapValues(list).map(lambda x : (x[0] , max(x[1])))
print("Maximum : " , courses3.collect())

Minimum :  [('Cloud', 52), ('Big Data', 65), ('UI/UX', 38), ('J2EE', 31), ('DSA', 54)]
Maximum :  [('Cloud', 92), ('Big Data', 85), ('UI/UX', 95), ('J2EE', 97), ('DSA', 63)]

Show the average age of male and female students.

In [62]:
avg_age = students_data.map(lambda x: (x[1], int(x[0])))
avg_age.groupByKey().mapValues(list).map(lambda x : (x[0] , sum(x[1])/len(x[1]))).collect()

[('MALE', 25.75), ('FEMALE', 25.5)]